page {
  height: 100vh;
  overflow: hidden;
}

.form {
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .van-cell :after {
    right: 0;
  }

  .van-cell__value {
    text-align: left;
    color: #c3c3c5;
  }

  .van-field__control--textarea {
    line-height: 1.4;
    min-height: 60rpx !important;
  }

  .van-uploader__preview {
    // width: 180rpx;
    margin-right: 30rpx;
    margin-bottom: 30rpx;
  }

  .van-uploader__preview:nth-child(3n),
  .van-uploader__upload {
    margin-right: 0;
  }
}
