page {
  height: 100vh;
  overflow: hidden;
}

.house-detail {
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .van-cell {
    padding-top: 28rpx;
    padding-bottom: 28rpx;

    &:after {
      right: 0;
    }

    .van-cell__value {
      text-align: left;
    }
  }

  .tag {
    position: absolute;
    right: 40rpx;
    display: block;
    line-height: 1;
    padding: 12rpx 20rpx;
    font-size: 24rpx;
    border-radius: 10rpx;

    &.success {
      background-color: #ebf8f0;
      color: #27ae60;
    }

    &.fail {
      background-color: #fcf2ed;
      color: #eb5757;
    }

    &.info {
      background-color: #e5f0fb;
      color: #2d9cdb;
    }
  }

  .id-card {
    padding-bottom: 30rpx;
    margin-top: 30rpx;
    background-color: #fff;

    .title {
      line-height: 1;
      padding: 28rpx 0;
      font-size: 28rpx;
      border-bottom: 1rpx solid #ebedf0;
    }

    .id-card-front,
    .id-card-back {
      height: 420rpx;
      margin: 20rpx 40rpx 0;
      border-radius: 10rpx;
      overflow: hidden;
      background-color: #fafafa;
    }
  }
}

.toolbar {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 160rpx;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
  box-shadow: 0 0rpx 16rpx 3rpx #eeeeee69;

  .icon-edit {
    display: block;
    font-size: 48rpx;
    color: #5591af;
  }

  .button-text {
    display: block;
    font-size: 30rpx;
    margin-top: 10rpx;
  }
}
