page {
  height: 100vh;
  overflow: hidden;
}

.house-detail {
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .van-cell :after {
    right: 0;
  }

  .van-cell__value {
    text-align: left;
  }

  .id-card {
    padding-bottom: 30rpx;
    margin-top: 30rpx;
    background-color: #fff;

    .title {
      line-height: 1;
      padding: 28rpx 0;
      font-size: 28rpx;
      border-bottom: 1rpx solid #ebedf0;
    }

    .id-card-front,
    .id-card-back {
      height: 420rpx;
      margin: 20rpx 40rpx 0;
      border-radius: 10rpx;
      overflow: hidden;
      background-color: #fafafa;
    }
  }
}
