page {
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

.login-header {
  padding: 40rpx 40rpx 60rpx;

  .label {
    font-size: 48rpx;
    font-weight: 500;
    margin-bottom: 10rpx;
  }

  .slogan {
    font-size: 30rpx;
  }
}

.login-form {
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .van-cell {
    padding: 28rpx 40rpx;
    font-size: 28rpx;

    .van-cell__value {
      text-align: left;
    }
  }

  .button-slot {
    color: #5591af;
    font-size: 28rpx;
  }

  .login-tips {
    margin: 20rpx 0 0 40rpx;
    font-size: 26rpx;
    color: #c3c3c5;
  }
}

.toolbar {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 160rpx;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #5591af;
  color: #fff;

  .icon-right {
    display: block;
    font-size: 48rpx;
  }

  .button-text {
    display: block;
    font-size: 30rpx;
    margin-top: 10rpx;
  }
}
