/* pages/house/index.wxss */
page {
  height: 100vh;
  overflow: hidden;
}

.repairs {
  padding-top: 30rpx;
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .repairs-title {
    padding-left: 40rpx;
    font-size: 24rpx;
    color: #979797;
  }

  .van-cell-group {
    margin-top: 20rpx;
    padding-bottom: 10rpx;
    background-color: #fff;
  }

  .van-cell {
    padding-top: 18rpx;
    padding-bottom: 18rpx;

    :after {
      left: 0;
      right: 0;
    }
  }

  .van-cell__title {
    color: #c3c3c5;
  }

  .van-cell__value {
    color: #686868;
  }

  .van-cell--large {
    padding-top: 28rpx;
    padding-bottom: 28rpx;
    margin-bottom: 10rpx;

    .van-cell__title {
      color: #333;
    }
  }
}
