page {
  height: 100vh;
  overflow: hidden;
}

.form {
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .van-cell {
    padding-top: 28rpx;
    padding-bottom: 28rpx;

    &::after {
      right: 0;
    }

    .van-cell__value {
      text-align: left;
      color: #c3c3c5;
    }
  }
}

.toolbar {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 160rpx;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
  box-shadow: 0 0rpx 16rpx 3rpx #eeeeee69;

  .icon-confirm {
    display: block;
    font-size: 48rpx;
    color: #5591af;
  }

  .button-text {
    display: block;
    font-size: 30rpx;
    margin-top: 10rpx;
  }
}
.van-action-sheet__cancel {
  font-size: 32rpx !important;
}

.van-picker__cancel {
  color: #979797 !important;
}

.van-picker__confirm {
  color: #5591af !important;
}
