page {
  height: 100vh;
  overflow: hidden;
}

.form {
  padding-bottom: calc(240rpx + env(safe-area-inset-bottom));

  .van-cell :after {
    right: 0;
  }

  .van-cell__value {
    text-align: left;
    color: #c3c3c5;
  }
}
