// 自定义字体图标
@import './fonts.scss';

page {
  color: #333;
  // background-color: pink;
  background-color: #fafafa;

  --cell-font-size: 28rpx;
  --cell-vertical-padding: 28rpx;
  --cell-horizontal-padding: 40rpx;
  --cell-value-color: #333;
  --cell-text-color: #333;

  --cell-label-color: #c3c3c5;
  --cell-label-font-size: 22rpx;
  --field-label-color: #333;

  --cell-large-title-font-size: 30rpx;

  --cell-group-title-color: #979797;
  --cell-group-title-padding: 30rpx 0 20rpx 40rpx;
  --cell-group-title-font-size: 24rpx;

  --action-sheet-header-font-size: 32rpx;
  --font-weight-bold: 500;

  --action-sheet-item-font-size: 30rpx;

  --action-sheet-cancel-text-color: #979797;

  --picker-toolbar-height: 96rpx;

  --picker-action-font-size: 30rpx;

  --action-sheet-item-text-color: #333;

  --picker-cancel-action-color: #979797;

  --picker-confirm-action-color: #5591af;

  --action-sheet-cancel-text-color: #979797;

  --action-sheet-item-font-size: 32rpx;
}

.van-action-sheet__header .van-icon-cross {
  display: none;
}

.active-cell {
  color: #333 !important;
}

scroll-view {
  height: 100vh;
}

image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

button:after {
  border: none;
}

button {
  color: #333;
}

.tag {
  position: absolute;
  right: 40rpx;
  display: block;
  line-height: 1;
  padding: 12rpx 20rpx;
  font-size: 24rpx;
  border-radius: 10rpx;

  &.success {
    background-color: #ebf8f0;
    color: #27ae60;
  }

  &.fail {
    background-color: #fcf2ed;
    color: #eb5757;
  }

  &.complete {
    background-color: #fcf5e9;
    color: #deab48;
  }

  &.info {
    background-color: #e5f0fb;
    color: #2d9cdb;
  }

  &.cancel {
    background-color: #f2f2f6;
    color: #979797;
  }
}

.blank {
  display: flex;
  justify-content: center;

  height: 330rpx;
  padding-top: 220rpx;
  margin: 40rpx;
  border-radius: 16rpx;
  box-sizing: border-box;
  font-size: 26rpx;
  color: #c3c3c5;
  background-color: #fff;
  background-image: url(https://enjoy-plus.oss-cn-beijing.aliyuncs.com/images/blank@2x.png);
  background-size: 140rpx;
  background-position: center 60rpx;
  background-repeat: no-repeat;

  .link {
    color: #2d9cdb;
    margin-left: 10rpx;
  }
}

.toolbar {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 160rpx;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
  box-shadow: 0 0rpx 16rpx 3rpx #eeeeee69;

  .enjoy-icon {
    display: block;
    font-size: 48rpx;
    color: #5591af;
  }

  .button-text {
    display: block;
    font-size: 30rpx;
    margin-top: 10rpx;
  }
}
